<!DOCTYPE>
 <html>
    <head>
     <title>DeleteUser</title>
     <meta charset = "utf-8"/>
   <style>
      html {
        text-align: center;
        background-color: white;
        border-left: 400px solid #589883;
        border-right: 400px solid #589883;
     }
      body {
       font-family: "Lucida Console", "Courier New", monospace;
      // font-family: Lucida Handwriting;
      // font-weight: bold;
     }
     h1 {
      font-size: 60px;
     }
    </style> 
   </head>
      <body>
       <h1>DELETE USER: {{user}}</h1>

    <form action ="/admin/deleteUser/{{user}}" method= "POST">
     <input type="submit" value="Confirm" />
   </form>
     </body>
    </html>
