<!DOCTYPE html>
  <html>
   <head>
    <title>EditUser</title>
    <meta charset = "utf-8"/>
   <style>
      html {
        text-align: center;
        background-color: white;
        border-left: 400px solid #589883;
        border-right: 400px solid #589883;
        border-top: 125px solid #589883;
        border-bottom: 125px solid #589883;
     }
      body {
       font-family: "Lucida Console", "Courier New", monospace;
      // font-family: Lucida Handwriting;
      // font-weight: bold;
     }
     h1 {
      font-size: 60px;
     }
    </style>
   </head>
     <body>
       <h1>EDIT USER: {{user}} </h1>
        <form action="/admin/editUser/{{user}}" method="POST">
         <label for="full_name">Full Name: (* to leave current) </label> <br>
         <input type ="text" id="full_name" name = "full_name" value= "*"> <br>
         <label for= "password">Password: (* to leave current) </label> <br>
        <input type = "text" id="password" name = "password" value = "*"> <br>
        <br>
         <input type = "submit" value ="Edit User"/>
       </form>
    </body>
   </html>
