<!DOCTYPE html>
 <html>
  <head>
   <title>Login</title>
   <meta charset="utf-8" />
   <style>
      html {
        text-align: center;
        background-color: white;
        border-left: 400px solid #589883;
        border-right: 400px solid #589883;
        border-top: 125px solid #589883;
        border-bottom: 125px solid #589883;
      }
     body {
     font-family: "Lucida Console", "Courier New", monospace;
     // font-family: Lucida Handwriting;
     // font-weight: bold;
    }
    h1 {
     font-size: 60px;
    }
   </style>
   </head>
    <h1>Login</h1>
    <form action = "/login" method="POST">
      <label for="username">Username: </label>
      <input type ="text" id="username" name = "username"> <br><br>
      <label for= "password">Password: </label>
      <input type = "password" id="password" name = "password"> <br><br>
    <input type = "submit" value = "Login" />
   </form>
  </body>
</html>
