<!DOCTYPE>
   <html>
      <head>
      <title>Image</title>
      <meta charset = "utf-8"/>
     <style>
      html {
        text-align: center;
        background-color: white;
        border-left: 400px solid #589883;
        border-right: 400px solid #589883;
     }
      body {
       font-family: "Lucida Console", "Courier New", monospace;
      // font-family: Lucida Handwriting;
      // font-weight: bold;
     }
     h1 {
      font-size: 60px;
     }
    </style>
     </head>
       <body>
        <a href="/main">Go Home</a> | <a href = "/main/viewImg">Images</a> | <a href= "/login"> Logout </a> <br>
        <h1> Image </h1>
         
      </body>
     </html>
           

