<!DOCTYPE>
   <html>
      <head>
      <title>Upload Images</title>
      <meta charset = "utf-8"/>
     <style>
      html {
        text-align: center;
        background-color: white;
        border-left: 400px solid #589883;
        border-right: 400px solid #589883;
     }
      body {
      font-family: "Lucida Console", "Courier New", monospace;
      // font-family: Lucida Handwriting;
      // font-weight: bold;
     }
     h1 {
      font-size: 60px;
     }
    </style>
     </head>
       <body>
        <h1>Upload Images</h1>
      <form action= "/main/uploadImg"  method = "POST" enctype = "multipart/form-data">
        <label for = "image"> Upload Image:  </label>
       <input type = "file" name = "uploaded_file" accept = "image/*"> <br><br>
       <input type = "submit"> <br><br>
     <a href = "/main">Go Home</a> | <a href = "/login">Logout</a>
      </form>
      </body>
     </html>
