<!DOCTYPE>
   <html>
      <head>
      <title>Images</title>
      <meta charset = "utf-8"/>
     <style>
      html {
        text-align: center;
        background-color: white;
        border-left: 400px solid #589883;
        border-right: 400px solid #589883; 
     }
      body {
       font-family: "Lucida Console", "Courier New", monospace;
      // font-family: Lucida Handwriting;
      // font-weight: bold;
     }
     h1 {
      font-size: 60px;
     }
    </style>
     </head>
       <body>
        <a href="/main">Go Home</a> | <a href= "/login"> Logout </a>
        <h1> Images </h1>

   {{#images}}
   <a href ="/main/imgTest?imagename={{ fileName }}">
   <img src ="data:image/jpg;base64,{{ image }}" /> </a>
        &nbsp
{{/images}}
      </body>
     </html>
